$breakpoint-tablet: 900px;

@media screen and(min-width: 900px) 
{.fullpage{
    header{

    
    li{
        display: flex;
        flex-direction: row;
    }
    }
}

.fullpage-two{

    .accordion{
        width: 50%;
        float: right;
        text-align: center;
        padding: 5%;
        min-height: 100vh;
        }

    aside{
        width: 50%;;
        float: left;
        padding: 2%;  
        min-height: 100vh;   
        }


}










}



