@media screen and (min-width: 900px) {
  .fullpage {
    height: 100vh;
    float: left;
    display: flex;
  }
  .fullpage h1 {
    font-size: 1rem;
    font-weight: 300;
  }
  .fullpage img {
    height: 150px;
    width: 100px;
    box-shadow: 10px 10px 10px rgba(189, 48, 48, 0.717), inset 10px 10px 10px rgba(196, 181, 181, 0.717), 10px 10px;
  }
  .fullpage .container {
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 30%;
  }
}
.fullpage-two {
  min-height: 100vh;
}
.fullpage-two .accordion {
  float: right;
  text-align: center;
  padding: 5%;
}
.fullpage-two .accordion .accordion__content {
  background: white;
  line-height: 1;
  font-size: 1rem;
  visibility: hidden;
}
.fullpage-two aside {
  width: 40%;
  float: right;
}
.fullpage-two aside .aside__box {
  padding-top: 3rem;
}

@media screen and (min-width: 1400px) {
  .fullpage {
    height: 100vh;
    float: left;
    display: flex;
  }
  .fullpage h1 {
    font-size: 1rem;
    font-weight: 300;
  }
  .fullpage img {
    height: 150px;
    width: 100px;
    box-shadow: 10px 10px 10px rgba(189, 48, 48, 0.717), inset 10px 10px 10px rgba(196, 181, 181, 0.717), 10px 10px;
  }
  .fullpage .container {
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 30%;
  }
}
.fullpage-two {
  min-height: 100vh;
}
.fullpage-two .accordion {
  width: 50%;
  float: right;
  text-align: center;
  padding: 5%;
}
.fullpage-two .accordion .accordion__content {
  background: white;
  line-height: 1;
  font-size: 1rem;
  visibility: hidden;
}
.fullpage-two aside {
  width: 50%;
  float: right;
}
.fullpage-two aside .aside__box {
  padding-top: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fullpage {
  min-height: 100vh;
  background-color: rgb(136, 156, 173);
}
.fullpage header {
  background-color: rgb;
  height: 2rem;
  padding: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-family: "Times New Roman", Times, sans-serif;
  font-weight: 500;
}
.fullpage h1 {
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  top: 20px;
  font-size: 1rem;
  margin: 20px;
}
.fullpage h2 {
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  top: 20px;
  font-size: 1rem;
}
.fullpage figure {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
.fullpage figure img {
  border-radius: 10px;
  box-shadow: 20px 20px 20px rgba(189, 48, 48, 0.717), inset 20px 20px 20px rgba(196, 181, 181, 0.717), 40px 20px;
}
.fullpage .front {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  font-size: 1.7rem;
  bottom: 0;
  text-transform: uppercase;
  border-radius: 2px;
  font-family: "Times New Roman", Times, sans-serif;
}

.fullpage-two {
  min-height: 100vh;
}
.fullpage-two .accordion {
  min-width: 300px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  overflow: hidden;
  background-color: #18473e;
  height: 100vh;
  width: 100%;
}
.fullpage-two .accordion__box {
  min-height: 10rem;
}
.fullpage-two .accordion__label {
  padding: 5px 5px;
  display: block;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}
.fullpage-two .accordion__label:hover {
  background-color: rgb(0, 0, 0);
}
.fullpage-two .accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}
.fullpage-two .accordion__content {
  padding: 3px 3px;
  background: white;
  line-height: 1;
  font-size: 0.85rem;
  visibility: hidden;
}
.fullpage-two .accordion__input {
  visibility: hidden;
}
.fullpage-two .accordion__input:checked ~ .accordion__content {
  visibility: visible;
  display: block;
}
.fullpage-two .accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}
.fullpage-two aside {
  position: relative;
  display: block;
  min-width: 300px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  overflow: hidden;
  background-color: #18473e;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}
.fullpage-two aside aside .accordion__content {
  background-color: #111;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.fullpage-two aside .skills {
  width: 100%;
  padding: 0 10px;
  max-width: 700px;
}
.fullpage-two aside .skill-name {
  font-size: 14px;
  font-weight: 700;
  color: #f1f1f1;
  text-transform: uppercase;
  margin: 20px 0;
}
.fullpage-two aside .skill-bar {
  height: 10px;
  background-color: #282828;
  border-radius: 3px;
}
.fullpage-two aside .skill-per {
  height: 10px;
  background-color: #d13639;
  border-radius: 3px;
  position: relative;
  -webkit-animation: fillbars 2.5s;
          animation: fillbars 2.5s;
}
.fullpage-two aside .skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #f1f1f1;
  border-radius: 4px;
  font-size: 10px;
  right: 0;
  top: -35px;
  transform: translateX(50%);
  z-index: 1;
}
.fullpage-two aside .skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f1f1f1;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}
@-webkit-keyframes fillbars {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes fillbars {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

footer {
  background-color: rgba(174, 168, 168, 0.717);
  bottom: 0;
  text-align: center;
}
footer i {
  color: rgb(52, 7, 129);
  font-size: 10px;
  margin: 10px;
  padding: 5px;
  border-radius: 50%;
  transition: 0.2 s linear;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
}
footer i:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 30px #fff;
}/*# sourceMappingURL=style.css.map */