
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
.pageone{
    min-height: 100vh;
    min-width: 100%;
    background-color: rgb(7, 2, 2);

    .menu{
        color: #f1f1f1;
    }
    h1{
    color: #f1f1f1;
    justify-content: center;
    text-align: center;
    display: flex;
    letter-spacing: 3px;
    position: relative;
    height: 40px;
    top: 50vh;
    width: 20rem;
    left: 5rem;
    box-shadow: 10px 0px 20px #f1f1f1,

    }
    a{
        color: #f1f1f1;
    }

        }

.fullpage{
    min-height: 50vh;
    background-color:rgb(41, 40, 40);
    min-width: 100vw;

    figure{
        position: relative;
        padding-top: 8rem;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-bottom: 40px;
        img{
            border-radius: 10px;
            box-shadow: 20px 20px 20px rgba(189, 48, 48, 0.717),
            inset 20px 20px 20px rgba(196, 181, 181, 0.717),
            40px 20px;
            
        }
    }

    h1{
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        display: flex;
        top: 20px;
        font-size: 2rem;
        margin: 20px;
        color: #f1f1f1;
    }

    

    
    .front{
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        font-size: small;
        bottom: 0;
        text-transform: uppercase;
        border-radius: 2px;
        font-family: 'Times New Roman', Times, sans-serif;
        
    }
    .arrow{
        display: flex;
        justify-content: center;
        bottom: 0;
        font-size: 2rem;
    }

    .profiledesktop{
        margin-left: auto;
        width: 600px;
        padding: 5px;
        
        h2{
            font-size: 20px;
            letter-spacing: 2px;
            left: 2rem;
            position: relative;
            padding-top: 20px;
            text-decoration: underline #14740f;

        }
        p{
            font-size: 10px;
            color: #f1f1f1;
            contain: content;
            padding-right:10rem;
            padding-left: 2rem;
        }
        }
    .side a{
        color: #f1f1f1;
    }
    h2{
        color: #f1f1f1;
        font-size: 20px;
        left: 2rem;
        padding-bottom: 5px;
    }
    
}

.fullpage-two{
        min-height: 100vh;
        min-width: 100vw;

    .accordion{
        background-color:rgb(41, 40, 40);
        min-height: 50vh;
        width: 100%;  
        text-align: center;  
        padding: 10px;

    }

    .accordion__label{
        box-shadow: 10px 10px 10px rgb(47, 8, 8);
        background-color: #032d01;
        display: block;
        color: #f1f1f1;
        height: 30px;
        font-size: x-large;
        font-weight: 500;
        cursor: pointer;
        transition: background 0.1s;
        border-radius: 10px;
    }

    .accordion__label:hover{
        background-color: rgb(10, 63, 36);
    }

    .accordion__label::after{
        content:"";
        position: absolute;
        transform: translateY(-50%);
        width:12px;
        height:6px;
        background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
        background-size: contain;
        transition: transform 0.4s;
    }

    .accordion__content{
        background-color: rgb(194, 203, 196);
        line-height: 1;
        font-size: 1rem; 
        display: none;
        margin: 10px;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 5px;
        box-shadow: 10px 0px 10px #545655;

    }
    .accordion__input{
        visibility: hidden;
    }

    .accordion__input:checked~.accordion__content{
        visibility: visible;
        display: block;
    }

    .accordion__input:checked ~ .accordion__label::after {
        transform: translateY(-50%) rotate(0.5turn);
      }

      .accordion__box{
        justify-content: center;
        text-align: center;
        padding: 30px;
      }


    aside{
        position: relative;
        display: block;
        overflow: hidden;
        background-color:rgb(41, 40, 40);
        box-sizing: border-box;
        min-height: 50vh;
        width: 100vw;
        padding: 10px;

    

        .skills{
            width: 100%;
        }

        .skill-name{
            font-size: 14px;
            font-weight: 700;
            color: #f1f1f1;
            text-transform: uppercase;
        }

        .skill-bar{
            height: 10px;
            background-color:#80a7a0;
            border-radius: 3px;
        }

        .skill-per{
            height: 10px;
            background-color: #d13639;
            border-radius: 3px;
            position: relative;
            animation: fillbars 2.5s;
        }

        .skill-per::before{
            content: attr(per);
            position: absolute;
            padding: 4px 6px;
            background-color: #f1f1f1;
            border-radius: 4px;
            font-size: 10px;
            right: 0;
            top: -35px;
            transform: translateX(50%);
            z-index: 1;
        }

        .skill-per::after{
            content: "";
            position:absolute;
            width: 10px;
            height: 10px;
            background-color: #f1f1f1;
            top: -20px;
            right: 0;
            transform: translateX(50%) rotate(45deg);
            border-radius: 2px;
        }

    

        @keyframes fillbars {
            from{
                width: 0%;
            }
            to{
                width: 100%;
            }
        }

    }

    .downloadCV{
        display: none;
        visibility: hidden;
    }
    
    ul{list-style: none;}
    li{font-size: 10px;
        color: #f1f1f1;
        text-align: center;
        padding: 10px;
    }
    h2{
        color: #f1f1f1;
        padding: 5px;
        font-size: 20px;
        text-align: center;
        text-decoration: underline #14740f;
    }
}

footer{
    background-color: rgba(203, 197, 197, 0.717);
    bottom:0;
    text-align: center;

    .contact{
        box-shadow: 10px 0px 5px #14740f;
    }

    i{
        color:rgb(12, 9, 10);
        box-shadow: 0 0 10px rgba(129, 122, 122, 0.717);
        font-size:small;
        margin: 10px;
        padding: 5px;
        border-radius: 50%;
        transition: 0.2 s linear;
        cursor: pointer;
        text-align: center;
        justify-content: center;

    }

    i:hover{
        background-color: white;
        color: black;
        box-shadow: 0 0 30px #fff;
    }
}

@media screen and(min-width: 1024px){
    .pageone{
        text-align: center;
        display: flex;

    h1{
        font-size: 40px;
        letter-spacing: 3px;
        width: 30%;
        left: 15rem;
    }

}

    .side{
        min-width: 20%;
        background-color: #121227;  
    }

    .side a{
        color: #fff;
        font-size: 18px;
        letter-spacing: 2px;
        display: list-item;
        padding: 30px;
        border: 1px solid black;
        box-shadow: 1px 1px 10px rgb(12, 9, 10);
    }

    .side a:hover{
        transition: 0.5s;
        background-color: #d13639;
        text-transform: uppercase;
    }

    .menu{
        font-size: 30px;
        padding: 15px;
        color: #f1f1f1;
        letter-spacing: 4px;
        background-color: #111;
    }
    

    
    
    .fullpage{
        .container{
            min-height: 50vh;
            width: 30vw;
            top: 50vh;
            left: 0;
            font-size: xx-large;
        }
            .profiledesktop{
            margin-left: auto;
            width: 600px;
            
            h2{
                font-size: 20px;
                letter-spacing: 2px;
            }
            p{
                font-size: 15px;
                display: flex;
                padding-right: 10rem;
            }
            }

            .aboutmedesktop{
                margin-left: auto;
                min-height: 30vh;
                color: #f1f1f1;
            }
        

        h1{
            font-size: larger;
            color: #f1f1f1;
        }

        h2{
            font-size: small;
            color: #f1f1f1;
        }
        .front{
            font-size: small;
        }}



    .fullpage-two{
        position: relative;
        background-color:rgb(41, 40, 40);

    .accordion{
        text-align: center;
        padding-left: 5rem;
        padding-right: 5rem;
  

        .accordion__content{
            visibility: visible;
            text-align: center;
            justify-content: center; 
           
        }

        .accordion__input{
            visibility: hidden;
        }
    }

    .accordion__content{
       display: block;
    }

    .downloadCV{
        font-size: x-large;
        display: block;
        display: grid;
    }

    aside{
        min-height: 100vh;
        padding: 10rem;
        background-color:rgb(41, 40, 40);
        

        .accordion__content{
            height: 20vh;
            padding-top: 20px;
            text-align: center;
                }
        .aside__box{
            position: relative;
        }

        .desktop{
            visibility: visible;
            color: burlywood;
            position: relative;
            margin: 40px;

            
            img{
                padding-left:5px;
            }

            .downloadCV{
                visibility: visible;
            }

        }
    }
}}